@import '../../styles/variables.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  // background-color: #222;
  z-index: 100000;
  background-color: transparent;
  backdrop-filter: blur(4px);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .2;
    z-index: -1;
  }

  .links__list {
    column-gap: 32px;
    .link {
      color: $color__white;
      transition: $transition;
      font-size: $ft__16;
      font-weight: $ft__W__M;
      position: relative;
      // text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $main__red;
        transition: $transition;
      }
      &.active,
      &:hover {
        color: $main__red;
        &::after {
          width: 100%;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .header {
    backdrop-filter: none;
    .close__btn,
    .open__btn {
      all: unset;
      font-size: $ft__28;
      color: $main__red;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .close__btn {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .links__list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #000;
      flex-direction: column;
      align-items: center;
      justify-content: center !important;
      padding: 0;
      row-gap: 40px;
      transform: translateX(-100%);
      transition: $transition;
      opacity: 0;
      &.opened {
        transform: translateX(0);
        opacity: 1;
      }
      .link {
        font-size: $ft__20;
      }
    }
  }
}