@import '../../styles/variables.scss';

.our__word__video {
  height: 80vh;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    pointer-events: none;
    transition: $transition;
  }
  &:hover {
    &::after {
      opacity: 0;
    }
  }
}
.cards__container {
  margin-top: 80px;
}