// transition :=
$transition: .3s ease-in-out;

// colors :=
$color__white: #FFF;
$bg__color: #0c0b10;
$main__red: #f44336;

// font size :=
$ft__16: 16px;
$ft__18: 18px;
$ft__20: 20px;  
$ft__24: 24px;
$ft__26: 26px;
$ft__28: 28px;
$ft__48: 48px;
$ft__52: 52px;


// font weigth ;=

$ft__W__R: 400;
$ft__W__M: 500;
$ft__W__S: 600;
$ft__W__B: 700;
$ft__W__EXB: 800;

